numpy
pandas
google-generativeai
python-dotenv  # For managing environment variables
duckduckgo_search
whisper
opencv-python-headless  # Optimized for servers (instead of opencv-python)
moviepy==1.0.3
tqdm
Pillow  # Correct package name for PIL
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
imageio[ffmpeg]  # Ensures ffmpeg support for moviepy
